.logo3{
  float: left;

}
header{
  background: rgba(0, 0, 0, 0.75);

}
body{
  background-color: black;
}
.browse1{
  float: left;
  display: inline-block;
  padding: 25px;
  position: relative;
}
/* Dropdown Button */
.browse2{

  color: red;
  left: 130px;
  margin-left: 20px;
  background-color: transparent;
  font-size: 16px;
  border: transparent;
  font-family: 'Lucida Grande', sans-serif;

}
/* Dropdown Content (Hidden by Default) */
.items{
  display: none;
  position: absolute;
  margin-left: 20px;
  background-color: black;
  box-sizing: content-box;
  min-width: 160px;
  font-family: 'Lucida Grande', sans-serif;
  box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.items a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
/* Change color of dropdown links on hover */
.items a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.browse1:hover .items {
  display: block;
}

.categories1{
  float: inherit;
  display: inline-block;
  padding: 25px;
  position: fixed;
}
.categories2{
  float: inherit;

  color: red;
  margin-left: 40px;
  background-color: transparent;
  font-size: 16px;
  border: transparent;
  font-family: 'Lucida Grande', sans-serif;
}

.categories1:hover .items2 {
  display: block;
}

.items2{
  display: none;

  margin-left: 20px;
  background-color: black;
  box-sizing: content-box;
  min-width: 160px;
  font-family: 'Lucida Grande', sans-serif;
  box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.items2 a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
/* Change color of dropdown links on hover */
.items2 a:hover {background-color: #f1f1f1}

.Search {

  float: right;
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.Search:focus {
  width: 25%;
}
.material-icons{
  float: right;
  font-size:36px;
  color: white;
  margin-right: 20px;
  margin-left: 20px;
}

.material-icons:hover{color: red;}


#person{
  float: right;
  font-size:36px;
  color: white;
  margin-left: 20px;
  margin-right: 5px;
  position: static;
}
.user{
  float: right;

  color: white;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 30px;

}
.userMenu{
  float: right;

}
.items3{
  float: right;
  display: none;
  margin-right: 20px;
  background-color: black;
  box-sizing: content-box;
  min-width: 40px;
  font-family: 'Lucida Grande', sans-serif;
  box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);

}

/* Links inside the dropdown */
.items3 a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;

}

.items3 a:hover {background-color: #f1f1f1}

.userMenu:hover .items3 {
  display: block;
}
section.originals{
  overflow-x: auto;
  overflow-y: hidden;

}
p.titles{
  color: whitesmoke;
  font-family: 'Lucida Grande', sans-serif;
  float: left;
  font-size: 25px;
  position: absolute;
}
p.card-text{
  width: 300px;
  word-wrap: break-word;
}
.card{
  float: none;
  display: inline-block;
  padding: 3px;

}
.card:hover{
  transform: scale(1.3);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

}
